<section class=" text-white">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class=" col-md-4">
                    <a class="">
                        <img src="assets/logo.png" alt="">
                    </a>
                    <ul class="nav flex-column mt-3">
                        <li class="d-flex justify-content-between align-items-center mb-1">
                            <div class="col-md-2">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="col-md-10">
                                <span>25566 Hc 1, Glenallen, Alaska, 99588, USA</span>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center  mb-1">
                            <div class="col-md-2">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="col-md-10">
                                <span>+603 4784 273 12</span>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center mb-1">
                            <div class="col-md-2">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="col-md-10">
                                <span>rentcars@gmail.com</span>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class=" col-md-2 ">
                    <h5>Our Products</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="mb-1">
                            <a href="#" class="p-0 text-white text-decoration-none">Career</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white text-decoration-none">Car</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white text-decoration-none">Packages</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white text-decoration-none">Features</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white text-decoration-none">Priceline</a>
                        </li>

                    </ul>
                </div>

                <div class=" col-md-2 ">
                    <h5>Resources</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Download</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Help Centre</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Guides</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Partner Network</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Cruises</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Developer</a>
                        </li>

                    </ul>
                </div>

                <div class=" col-md-2">
                    <h5>About Rentcars</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Why choose us</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Our Story</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Investor Relations</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Press Center</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Cruises</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-decoration-none p-0 text-white">Advertise</a>
                        </li>

                    </ul>
                </div>

                <div class=" col-md-2">
                    <h5>About Rentcars</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="mb-1">
                            <a href="#" class="text-center p-0 text-white">Why choose us</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white">Our Story</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white">Investor Relations</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white">Press Center</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white">Cruises</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class=" p-0 text-white">Advertise</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; 2024 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook" />
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>

</section>