<section class="homeLanding ">
    <div class="container-fluid h-100 ">
        <div class="row align-items-center h-100">
            <div class="col-md-4">
                <div class="px-5">
                    <p class="fs-1 fw-bold">Find, book and rent a car
                        <span class="text-primary fs-1 position-relative">Easily</span>
                    </p>
                    <p>Get a car wherever and whenever you need it with your IOS and Android device.</p>
                    <div class=" rounded-2">
                        <img src="assets/googlePlay.png" class="me-2 rounded-2" style="width: 123.75px;height: 36.62px;"
                            alt="">
                        <img src="assets/appStore.png" class="mx-2 rounded-2" style="width: 123.75px;height: 36.62px;"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8 overflow-hidden animate__animated animate__fadeInTopRight animate__slow">
                <div>
                    <img src="assets/car.png">
                </div>
            </div>
        </div>
    </div>
</section>
<app-popular-rental></app-popular-rental>
<app-how-it-work></app-how-it-work>
<app-why-choose-us></app-why-choose-us>
<app-testimonials></app-testimonials>