.homeLanding {
    height: calc(100vh - 56px);
    background-image: url('/assets/Frame..png');
    background-repeat: no-repeat;
    background-position-x: right;
    
    img {
        width: 1048px;
        height: 537px;
    }
}