.container-fluid {
    height: 75vh;

    .col-md-6.imgcontainer {
        background-image: url('/assets/Vector.png');
        background-position-x: left;
        background-repeat: no-repeat;
    }
}