<section class="bg-body-tertiary">
    <div class="container mt-4">
        <div class="text-center">
            <button class="btn btn-outline-dark text-uppercase">How it work</button>
        </div>
        <div class="mt-1 text-center">
            <span class="fs-1 fw-semibold">Most popular cars rental deals</span>
        </div>
        <div class="row my-2">
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center bg-primary-subtle rounded-3"
                            style="height: 6rem; width: 6rem;">
                            <i class="fa-solid fa-location-dot fa-2x"></i>
                        </div>
                        <h3>Choose location</h3>
                        <p class="m-auto w-50 text-center">Choose your and find your best car</p>
                    </div>
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center bg-primary-subtle rounded-3"
                            style="height: 6rem; width: 6rem;">
                            <i class="fa-solid fa-car fa-2x"></i>
                        </div>
                        <h3>Pick-up date</h3>
                        <p class="m-auto w-50 text-center">Select your pick up date and time to book your car</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center bg-primary-subtle rounded-3"
                            style="height: 6rem; width: 6rem;">
                            <i class="fa-solid fa-location-dot fa-2x"></i>
                        </div>
                        <h3>Book your car</h3>
                        <p class="m-auto w-50 text-center">Book your car and we will deliver it directly to you</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3">
                <div class="p-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/jaguar.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/audi.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/volvo.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/nissan.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


